<!--@subject Benvenuto, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Per accedere, quando visiti il nostro sito, basta cliccare su <a href="{{store url="customer/account/"}}">Login</a> o <a href="{{store url="customer/account/"}}">Il mio Account</a> in alto in ogni pagina, poi inserire il tuo indirizzo e-mail e la tua password.</p>
            <p>Una volta effettuato l'accesso al tuo account, sarai in grado di:</p>
            <ul>
                <li>Effettuare checkout pi&ugrave; rapidi durante un acquisto</li>
                <li>Verificare lo stato degli ordini</li>
                <li>Visualizzare gli ordini precedenti</li>
                <li>Modificare le informazioni relative al tuo account</li>
                <li>Cambiare la tua password</li>
                <li>Memorizzare indirizzi alternativi (per spedire a pi&ugrave; membri della famiglia ed agli amici!)</li>
            </ul>
            <p>
                Se hai qualche domanda, contattaci al nostro indirizzo email
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} oppure al nostro numero <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
