<!--@subject {{var subject}} @-->
{{var store.getFrontendName()}}<br>
Indirizzo Email Moneybookers: {{var email_addr}}<br>
ID Cliente Moneybookers: {{var customer_id}}<br>
URL: {{var url}}<br>
Lingua: {{var language}}<br>
