<!--@subject Disiscrizione newsletter avvenuta correttamente @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Ti sei disiscritto correttamente dalla newsletter.</h1>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
